body {
    margin: 0;
    background:  #78d4f8;
    font-weight: 300;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    height: 100px;
    width: 100%;
    margin-inline-end: 0.0%;
    background: Teal;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0rem 3rem 0 3rem;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
}

nav ul {
    margin: 0 0 0 auto;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5em;
}


nav a, footer, footer a {
    text-decoration: none;
    border-radius: 0.5em;
    padding: 0.5em;
    color: #7FFF00;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover, footer button:hover {
    background-color: rgba(99, 99, 99, 0.466);
}

h1 {
    color: #e434c6;
    margin: 100px;
    text-align: center;
    margin: 50px 50px;

}

button {
    background-color:  #7FFF00;
    border: none;
    color: rgb(7, 7, 7);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

div.login {
    margin: 60px;
}


.formLogin {
    margin: 150px;
    bottom: 0;
}
input{
    width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    border-color: #3CBC8D;
}

input[type="submit"]{
    border-radius: 12px;
    size: 0px;
    border-color: #74da16;
}

.formRegister {
    margin: 150px;
    bottom: 0;
}